.option-box {
  border: 1px solid #CFCFCF;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.option-box:hover, .option-box.selected {
  border-color: #FFBE1A;
  color: #FFBE1A;
}

.option-input {
  display: none;
}

@media only screen and (max-width: 768px) {
  .option-box {
     width: 80%;
  }
}