.riddle {
  font-weight: bold;
  margin: 40px 0;
}
 
.box-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.box {
  width: 100px;
  height: 100px;
  border: 2px solid #212121;
  background-color: #CFCFCF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.box:hover {
  border-color: #FFBE1A;
  background-color: #212121;
}

.box.open {
  background-color: #FFBE1A;
}

@media only screen and (max-width: 768px) {
  .box {
    width: 70px;
    height: 70px;
  }
}