h2 {
   padding-bottom: 10px;
   margin-bottom: 20px;
   text-align: center;
   color: #CFCFCF;
}

h3 {
   margin-top: 20px;
   text-align: center;
   color: #CFCFCF;
}

.word-grid {
   display: flex;
   flex-direction: column;
   border: 3px solid #CFCFCF;
   border-radius: 8px;
   max-width: 620px;
   margin: 20px auto;
}

.words-to-find-grid {
   display: grid;
   grid-template-columns: repeat(5, 1fr);  /* Creates 5 columns */
   grid-gap: 10px;
   justify-items: center;
   max-width: 620px;
   margin: 20px auto;
}

.word-item {
   text-align: center;
   color: #CFCFCF;
}

.grid-row {
   display: flex;
   justify-content: center;
}

.grid-letter {
   width: 50px;
   height: 50px;
   font-size: 2em; /* Adjusted font size */
   color: #CFCFCF; /* Adjusted font color */
   border: none;
   background-color: #212121; /* Adjusted background color to match the container */
   text-align: center;
   line-height: 50px;
   cursor: pointer;
   transition: background-color 0.2s, color 0.2s;
   padding: 0;
   margin: 0;
}

.grid-letter:hover {
   background-color: rgb(69, 69, 69);
   color: white;
}

.grid-letter.selected {
   color: green;
}

.grid-letter.success {
   color: #FFBE1A;
}