.card {
  border: 2px solid #212121;
  background-color: #CFCFCF;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the emoji/symbols */
  font-size: 2rem;  /* Increase emoji size */
  cursor: pointer;
  width: 60px; /* You might need to adjust this based on the card-grid max-width */
  height: 60px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  /* Four cards in a row */
  gap: 16px; /* Spacing between cards */
  max-width: 280px; /* Adjust this based on card size and gap */
  margin: 20px auto; /* Centering the grid */
  justify-content: center;  /* Ensures the grid itself is centered */

}

.description {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
}

.card:hover, .card.flipped {
  border-color: #FFBE1A;
  background-color: #212121;
  color: #FFBE1A;
}
 
.card.matched {
  background-color: #FFBE1A;
  color: #212121;  /* Changing text color to contrast against the gold background */
}

@media only screen and (max-width: 768px) {
  .card {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
  }
  .card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);  /* Four cards in a row */
    gap: 12px; /* Spacing between cards */
    margin: 10px auto; 
  }
}