.textarea {
   font-size: 20px;
   width: 51%;
   padding: 10px;
   border-radius: 4px;
   border: 1px solid #CFCFCF; /* Changed border color to match App's color */
   margin-bottom: 20px;
   background-color: #323232; /* Darker textarea to match App's theme */
   color: #CFCFCF;
}

.matrix-style {
   font-family: "Courier New", Courier, monospace;
   font-size: 1.2em;
   color: #00FF00; /* Matrix green */
   background-color: #000; /* Black background */
   padding: 20px;
   border-radius: 8px;
   width: 50%; 
   margin-left: auto;
   margin-right: auto;  
}

.ciphered-text {
   font-size: 1.5rem;
   margin: 1rem 0;
   font-style: italic;
   color: #CFCFCF;
}

.user-input {
   width: 100%;
   padding: 0.5rem;
   font-size: 1rem;
   margin-bottom: 1rem;
   background-color: #323232;
   color: #CFCFCF;
   border: 1px solid #CFCFCF;
}

.letter-animation {
   display: inline-block;
   animation: scrollLetter 1s steps(26, end) infinite, revealLetter 1s forwards;
   overflow: hidden;
   width: 1ch;  /* width of one character */
}

@keyframes scrollLetter {
   0% { transform: translateY(0); }
   100% { transform: translateY(-26em); }
}

@keyframes revealLetter {
   100% { opacity: 1; }
}

@media only screen and (max-width: 768px) {
   .textarea {
      width: 82%;
   }
   
   .matrix-style {
      width: 80%; 
   }
}