.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.challenge-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* First row has 3 columns */
  gap: 20px;
  margin-bottom: 20px; /* Space between the two rows */
}

.challenge-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.challenge-item {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.challenge-item:hover {
  transform: scale(1.1);
}

.progress-container {
  width: 100%;
  background-color: #f3f3f3;
}

.progress-bar {
  width: 0%;  /* Initially, it's set to 0. You'll update this dynamically */
  height: 20px;
  background-color: #0099cc;  /* Or any color of your choice */
  text-align: center; 
  line-height: 20px; 
  color: black; 
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-button {
  position: absolute;
  left: calc(50% - 320px);
  top: 50%;
  transform: translateY(-50%);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
